body {
	color: palette(black);
	font-size:	$base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line/$base__font-size);
}

h1 {
	@extend %headline-primary;
}
h2 {
	@extend %headline-secondary;
}

h3 {
	font-family: $font-family--secondary;
	color: $color-primary;
	text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main-footer {
//	margin-top: 100px;
	background: palette(black, light);
	width: 100%;
//	position: absolute;
	height: 200px;
	padding-top: 50px;
	p {
		color: $white;
		font-size: base__font-size;
		text-align: center;
	}
}

.content {
	position: relative;
	top: 400px;
	background: $white;
	padding-top: 50px;
	margin-bottom: 200px;
	min-height: calc(100% - 400px);
	margin-bottom: -200px;
	
	&:after {
		content: "";
		display: block;
		height: 200px;
	}
}

html, body {
	height: 100%;
}

