

.btn {
	@include btn-themes($themes) {
		@extend %base-buttonstyle;
		width: 150px;
		@include transition(all 0.15s linear);
		&:hover {
			background-color: palette(white);
		}
	}
}

button {
	@extend %base-buttonstyle;
	width: 30%;
	
	color: $white;
    background: $color-primary;
}


