
.form {

	max-width: em(800px);
	margin-right: auto;
	margin-left: auto;

	ul {
		padding: 0;
		list-style-type: none;

		button {
			float: right;
			width: em(100px);
		}
	}
	//Hack to make inputfields fill width
	span {
		display: block;
		overflow: hidden;
		padding-right: em(10px);
	}
}

label {
	float: left;
	width: em(100px);
	margin-right: 1em;
	text-align: right;
}

input, textarea {
	&[type=text] {
//		-moz-box-sizing: border-box; box-sizing: border-box;
		@if class=="ingredient-name" {
			width: calc(100% - 150px);
		} @else {
			width: 100%;		
		}
	}
	&[type=number] {
		width: em(70px);
	}
	&[placeholder=unit] {
		width: em(70px);
	}
}

button {
	color: $white;
    background: $color-primary;

	width: 30%;
	height: line-height;

    position: relative;
    overflow: hidden;

    border-radius: 5px;
    border: none;
    cursor: pointer;  
}

