
.form {

	max-width: em(800px);
	margin-right: auto;
	margin-left: auto;

	//	----Begin Login----
	@include e(login) {

		width:300px;
		margin: 60px auto 30px;
		position: relative;

		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);

		p {
			width: 70%;
			float: left;
			border-radius: 5px 0 0 5px;
			border: 1px solid palette(grey, x-light);
			border-right: none;
		}

		@include m(username){
			@extend %login-extention;

			border-bottom: 1px solid palette(grey, x-light);
		    border-radius: 5px 0 0 0;
		}
		@include m(password) {
			@extend %login-extention;

			border-top: 1px solid palette(grey, x-light);
		    border-radius: 0 0 0 5px;
		}

		button {
			color: $white;
	        background: $color-contrast;

			width: 30%;
		    height: em(102px);

		    float: left;
		    position: relative;
		    overflow: hidden;

	        border-radius: 0 5px 5px 0;
	        border: none;
		    cursor: pointer;  
		    line-height: em(102px);

		    span {
		    	display: block;
		    	font-size: em(20px);
		    	@include transform(rotate(-90deg));
		    	@include transition(all 0.2s linear);
		    }

		    i {
		    	position: absolute;
		    	width: 100%;
		    	height: 100%;
		    	top: 0;
		    	left: 0;
		    	font-size: em(64px);
		    	@include opacity(0);
		    	@include transition(all 0.2s ease-out);
		    }

		    &:focus {
		    	outline: none;
		    }

		    &:hover span,
		    &:focus span {
				@include opacity(0);
				@include transform(rotate(-90deg) translateY(-20px));
		    }

		    &:hover i,
		    &:focus i {
			    @include opacity(1);
			    @include transition-delay(0.2s);
		    }

		    &:active span,
		    &:active i, {
		    	@include transition(none);
		    }

		}
	}
	//	----End Login----


	ul {
		padding: 0;
		list-style-type: none;

		button {
			float: right;
			width: em(100px);
		}
	}
	//Hack to make inputfields fill width
	span {
		display: block;
		overflow: hidden;
		padding-right: em(10px);
	}
}

label {
	float: left;
	width: em(100px);
	margin-right: 1em;
	text-align: right;
}

input, textarea {
	&[type=text] {
//		-moz-box-sizing: border-box; box-sizing: border-box;
		@if class=="ingredient-name" {
			width: calc(100% - 150px);
		} @else {
			width: 100%;		
		}
	}
	&[type=number] {
		width: em(70px);
	}
	&[placeholder=unit] {
		width: em(70px);
	}
}

button {
	color: $white;
    background: $color-primary;

	width: 30%;
	height: line-height;

    position: relative;
    overflow: hidden;

    border-radius: 5px;
    border: none;
    cursor: pointer;  
}

