
.form {

	max-width: em(800px);
	margin-right: auto;
	margin-left: auto;

	

	.error {
		border: 1px solid red;
		color: red;
	}

	.errorPacked {
		textarea,input {
			border: 1px solid red;
			color: red;
		}
	}
	.valid {
		border: 1px solid green;
	}
	.error-container {
		small{
			color: red
		}

	}
	ul {
		padding: 0;
		list-style-type: none;

		button {
			float: right;
			width: em(100px);
		}
	}
	//Hack to make inputfields fill width
	span {
		display: block;
		overflow: hidden;
		padding-right: em(10px);
	}
}

label {
	float: left;
	width: em(100px);
	margin-right: 1em;
	text-align: right;
}

input, textarea {
	margin-left: 5px;
	margin-right: 5px;		
	&[type=text] {
//		-moz-box-sizing: border-box; box-sizing: border-box;
			width: 100%;
	}
	&[type=number] {
		width: em(70px);
	}
	&[placeholder=unit] {
		width: em(70px);
	}
}


