
header {
 	@extend %base-header;

 	@include opacity(0);

 	@include e(info) {
 		@include m(title) {
  			@include transition(opacity 0.6s fade-out);
 		}
 	}
}

header.fix-user {
	@extend %base-header;

	background: palette(black, light);
 	
	@include opacity(1);
	@include box-shadow(0 5px 10px rgba(0,0,0,0.3));
 	
	.top {
		@include e(user) {
			@extend %user-base;

 			@include m(picture) {
 				@include roundImage(em(70px));
 			}
 		}
 		@include e(info) {
 			@extend %navbar-content;

 			@include m(title) {
 				@extend %title-headline;

 				font-size: em(40px);
 				font-weight: $font-weight--light;
 				text-align: left;
 				margin-top: 20px;
 				margin-left: 30px;
 				
 				@include transition(all 0.2s fade-out);

 				&:hover {
 					color: palette(white);
				}
			}
 		}
 	}
 }


.navBanner {

	position: fixed;
	height: 400px;
	width: 100%;
	min-height: 80px;
	background: $color-accent url(/images/bg.jpg) no-repeat center top;
	display: block;
	overflow: hidden;

	@include background-size(cover);

	@include e(contents){
		@extend %navbar-content;

		h1 {
			@extend %title-headline;

			margin-top: 150px;
    		text-align: center;
		}

		.overlay {
			@extend %navbar-content;

			position: absolute;
			top: 0;
			z-index: -1;
			background: palette(black, light);

			@include opacity(0);
		}
	}

	@include e(user) {
		@extend %user-base;

		@include m(picture) {
			@include roundImage(em(100px));
		}

		@include m(username) {
			color: palette(grey, x-light);
			margin-bottom: em(50px);
		} 

		.fix-user & {
			position: fixed;
			top: 10px;
		}
	}
}
