.recipeThumb {
	@include e(grid) {
		table-layout: fixed;
		width: 100%;
	}

	@include e(container){
		margin: 10px;
		border: 1px solid palette(grey,x-light);
		:hover {
			background-color: palette(grey,xx-light);
			text-decoration: none;
		}
	}

	@include e(contents){
		padding: 10px;

		

	}
	@include e(image) {
		height: 200px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}