<h1>Create account</h1>
<!--Temp create-->
<div ng-if="registrationSuccessful">
	<P>Welcome to foodie, {{user.username}}</P>
</div>
<form class="form" ng-submit="register(newAccount)">
	<label for="username">Username</label>
	<span>
		<input name="username" placeholder="Desired username" type="text" ng-model="newAccount.username"  autofocus required />
	</span>
	<br></br>
	<label for="description">Describe yourself</label>
	<span>
		<textarea name="description" placeholder="Who are you?" type="text" ng-model="newAccount.about">
		</textarea>
	</span>
	<br><br>
	<label for="image">image of yourself</label>
	<span>
		<input name="image" placeholder="image URL" type="url" ng-model="newAccount.image" />
	</span>
	<br><br>
	<label for="password">Password</label>
	<span>
		<input name="password" placeholder="password" type="password" ng-model="newAccount.password" required/>
	</span>
	<br><br>
	<label for="repeatpassword">Repeat password</label>
	<span>
		<input name="repeatPassword" placeholder="repeat password" type="password" ng-model="password" required/>
	</span>
	<br><br>
	<button type="submit">Register</button>
</form>