<h1>Create account</h1>
<!--Temp create-->
<div ng-if="registrationSuccessful">
	<P>Welcome to foodie, {{user.username}}</P>
</div>
<form name="accountForm" class="form" ng-submit="register(newAccount)" novalidate>
	<label for="username">Username</label>
	<span>
		<input name="username" placeholder="Desired username" type="text" 
		ng-class="{error: (accountForm.username.$dirty && !accountForm.username.$focused || submitted) && accountForm.username.$invalid }"
		ng-model="newAccount.username"  
		pattern="[a-zA-Z0-9 /\\]+"
		ng-minlength="4"
		ng-max-length="20"
		required 
		ng-focus/>
	</span>
	<div class="error-container" ng-show="(accountForm.username.$dirty && !accountForm.username.$focused || submitted) && accountForm.username.$invalid ">
	    <small>
	        Username required, between 4 and 20 characters, and should only contain letters and numbers
	    </small>
    </div>
	<br></br>
	<label for="description">Describe yourself</label>
	<span>
		<textarea name="description" placeholder="Who are you?" type="text" ng-model="newAccount.about">
		</textarea>
	</span>
	<br><br>
	<label for="image">image of yourself</label>
	<span>
		<input name="image" placeholder="image URL" type="url" 
		ng-model="newAccount.image" 
		/>
	</span>
	<br><br>
	<label for="password">Password</label>
	<span>
		<input name="password" placeholder="password" type="password"
		ng-model="newAccount.password"
		ng-class="{error: (accountForm.password.$dirty && !accountForm.password.$focused || submitted) && accountForm.password.$invalid , valid: accountForm.repeatPassword.$dirty && accountForm.repeatPassword.$valid}"
		ng-minlength="6"
		ng-max-length="200"
		ng-focus
		required/>
	</span>
	<div class="error-container" ng-show="(accountForm.password.$dirty && !accountForm.password.$focused || submitted) && accountForm.password.$invalid ">
	    <small>
	        Password should be at least 6 characters.
	    </small>
    </div>
	<br><br>
	<label for="repeatpassword">Repeat password</label>
	<span>
		<input name="repeatPassword" placeholder="repeat password" type="password"
		ng-model="newAccount.repeatPassword" 
		ng-class="{error: (accountForm.repeatPassword.$dirty && !accountForm.repeatPassword.$focused || submitted) && accountForm.repeatPassword.$invalid , valid: accountForm.repeatPassword.$dirty && accountForm.repeatPassword.$valid}"
		ng-focus
		fd-identical="{{newAccount.password}}"
		required/>
	</span>
	<div class="error-container" ng-show="(accountForm.repeatPassword.$dirty  && !accountForm.repeatPassword.$focused || submitted) && accountForm.repeatPassword.$invalid">
	    <small>
	        The repeated password does not match the password!
	    </small>
    </div>
	<br><br>
	<button type="submit" ng-click="submitted=true">Register</button>
</form>