//To center a image that is to big for parent div, a trick
//is to use background-image. This ensures that the image
//is fitted to the parent div correctly. It will work for any
//image dimensions and will keep the aspect ratio.
//Angular makes sure to put the background-image attribute into
//the css.
%image-fill-parent {
	.wrapper	{
			margin: 0px;
			width: 100%;
			height: 100%;
		    overflow: hidden;
		    background-position: center center;
		    @include background-size(cover);
		}
		img {
			//The actual html img is hidden, to preserve accessibility
			visibility: hidden;
		}
}