//Should probably be in _shame, since there is no responsiveness.
//Like overview under directions div when on small screen
.recipe {
	@include e(container){
		div {
			margin: em(5px);
		}
	}
	@include e(image){
		@extend %image-fill-parent;
		overflow:hidden;
		height: em(500px);
		border-radius: em(5px);
		border: 1px solid palette(grey, x-light);
	}

	@include e(ingredients){
		//Temp. Not sure how to address responsiveness
		padding: em(5px);
		width: 30%;
		float: left;
		border: 1px solid palette(grey, x-light);

		@include mq(small) {
			width: 100%;
		}

		td {
			padding: em(5px);
		}
	}

	@include e(directions) {
		//Will be put under correctly if float left is used.
		width: 68%;
		padding: em(5px);
		float: left;

		@include mq(small) {
			width: 100%;
		}

		section {
			margin-bottom: em(70px);
		}

		ol {
			padding-left: em(35px); 
			list-style-type: upper-roman;
		  	font-weight: bold;
		  	color: $color-accent2;

		  	li {
			margin-bottom: em(40px);
			}
		}
		ol p {
		  	font-weight: normal;
		  	color: $black;
}
	}

	@include e(overview) {
		padding: em(5px);
	}

	@include e(groups) {
		padding: em(5px);
		.groupPanel {
			margin-left: 0em;
			margin-right: 0em;
			margin-bottom: em(50px);
			padding: em(20px);
			background-color: palette(grey, xx-light);
			border: 1px solid palette(grey, x-light);

			.login-message {
				border: 1px solid palette(grey, x-light);
				text-align: center;
				p {
					margin: em(20px);
				}
			}
		}
		ul	{
			padding-left: em(0px);
			li {
				border: 1px solid palette(grey, x-light);
				list-style: none;
				margin-bottom: em(25px);
				padding: em(10px);
				h4 {
					font-weight: bold;
				}
				.title {
					color: $color-primary;
					font-weight: normal;
					margin-left: em(10px);
					margin-right: em(3px);
				}
				p {
					text-transform: capitalize;
					font-weight: bold;
					display: inline;
				}
				.groupButton {
					display: inline-flex;
					float: right;
				}
			}
		}
	}
}