<h1>sitemap</h1>
<h2>Main</h2>
<ul>
	<li><a href="#/">Front page</a><br></li>
	<li><a href="#/login">Sign in page</a><br></li>
	<li><a href="#/notification">Notifications page</a><br></li>
</ul>

<h2>Recipes</h2>
<ul>
	<li><a href="#/recipe/">Create recipe</a></li>
	<li ng-repeat="recipe in recipes">
		<a ng-href="#/recipe/{{recipe.id}}" >{{recipe.title}}</a>
		<ul>
			<li><a href="#/recipe/{{recipe.id}}/group">Create group</a></li>
		</ul>
	</li>
</ul>

<h2>Groups</h2>
<ul>
	<li ng-repeat="group in groups">
		<a ng-href="#/group/{{group.id}}" >{{group.title}}</a>
	</li>
</ul>
<h2>Users</h2>
<ul>
	<li><a href="#/create-account/">Register new user</a></li>
	<li ng-repeat="user in users">
		<a ng-href="#/profile/{{user.id}}" >{{user.username | capitalize}}</a>
	</li>
</ul>
