<h1>Share your best recipes!</h1>
<form class="form" ng-submit="postRecipe(newRecipe)">
	<label>Title</label>
	<span>
		<input placeholder="Title" type="text" ng-model="newRecipe.title" autofocus required/>
	</span>
	<br></br>
	<label>Motivation</label>
	<span>
		<textarea placeholder="Motivation" type="text" ng-model="newRecipe.motivation" />
	</span>
	<br><br>
	<label>Image URL</label>
	<span>
		<input placeholder="Image url" type="text" ng-model="newRecipe.image"/> 
	</span>
	<h2>Recipe steps</h2>
	<fd-descriptor step-model="newRecipe.description"></fd-descriptor>
	<h2>Recipe ingredients</h2>
	<fd-ingredients model="newRecipe.ingredients"></fd-ingredients>

	<button type="submit">Submit it!</button>
</form>