

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss



// =========================================================
//		Colors
// =========================================================
$white: #fff;
$black: #0b0b0b;
$grey: 	#797e83;


// =========================================================
//		Text
// =========================================================

$base__font-size	: 16px;
$base__line			: 24px;




