// =========================================================
//		Fonts
// =========================================================

// Font sources
$font-url--google		: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
$font-top 				: "http://fonts.googleapis.com/css?family=Pacifico:400";


// Defailt fonts
$font-family--primary 	: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary	: 'Montserrat', sans-serif;

// Font specifications
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss


// =========================================================
//		Colors
// =========================================================

//	Base colors
$white		: #fff;
$black		: #0b0b0b;
$grey		: #797e83;


//Custom scheme	(not used)
$java		: #20D9C6;
$pear		: #DED334;
$casablanca	: #F7B04D;
$froly		: #F78374;
$mandy		: #E74263;

// Scheme 2
$patina		: #588C7E;
$khaki		: #F2E394;
$sandyBrown	: #F2AE72;
$roman		: #D96459;
$copperRust	: #8C4646;

//Themes
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;



//https://color.adobe.com/Campfire-color-theme-2528696/ 

// Color Usage
$color-primary	: 	$java;
$color-secondary: 	$pear;
$color-accent	:	$casablanca;
$color-accent2	:	$froly;
$color-shadow	:	$grey;
$color-contrast	: 	$mandy;

//Color Palette Modifiers
$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	 	light    : lighten($grey, 12%),
	  	base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	),
	white: (
		base 	 : $white,
		dark 	 : darken($white, 1%)
	)
);

$themes: (
	positive	:	$emerald,
	neutral		:	$java,
	negative	: 	$mandy
);

// =========================================================
//		Text
// =========================================================

$base__font-size	: 16px;
$base__line			: 24px;

$font-size__small	: 14px;

$text-shadow--default: 0 1px 2px rgba(0,0,0,0.3);

// =========================================================
//		Media
// =========================================================

// Breakpoints

$breakpoint-sm	: 1px;
$breakpoint-md	: 768px;
$breakpoint-lg	: 1100px;
