// =========================================================
//		Mixins
// =========================================================


@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier}{
		@content;
	}
}

@mixin roundImage($size) {
	width: $size;
	height: $size;
	overflow: hidden;
	margin: em(10px) auto 0 auto;

	@include border-radius(calc(50%), calc(50%));

	img {
		width: 100%;
		height: auto;
	}
}

/*		Media Query
**	Simple mixin that uses the given Media-Query. This
**	mixin should be included instead of defining new MQs.
*/
@mixin mq($break) {
	@if $break == "small" {
		@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
			@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $breakpoint-md+1) and (max-width: $breakpoint-lg) {
			@content;
		}
	}
	@else if $break == "large" {
		@media (min-width: $breakpoint-lg+1) {
			@content;
		}
	}
	@else {
		@error "Error! No value could be retrieved for #{$break}"
	}
}

/*		Button
**
*/
@mixin btn-themes($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
			
			@content;

			&:hover {
				@include box-shadow(inset 0px 0px 0px 2px $color);
				color: $color;
			}
			&:active {
				background-color: $color;
			}
		}
	}
}
