<h1>Create a group!</h1>
<div ng-if="!user.username" style="text-align: center">
<p style="margin: 20px">You cant create a group unless your logged in! <a href="#/login">Sign in</a></p>

</div>
<div ng-if="user.username">
<form name="groupForm" class="form" ng-submit="createGroup(group, groupForm.$valid)" novalidate>
	<label>Title *</label>
	<span>
		<textarea name="title" placeholder="Title of group" type="text"  ng-class="{error: ((groupForm.title.$dirty && !groupForm.title.$focused) || submitted) && groupForm.title.$invalid }"
		ng-model="group.title"
		required
		ng-minlength="4"
		ng-maxlength="60"
		ng-focus/>
	<div class="error-container" ng-show="(groupForm.title.$dirty && !groupForm.title.$focused || submitted) && groupForm.title.$invalid ">
	   <div ng-messages="groupForm.title.$error">
		    <small ng-message="required">Title is required.</small>
		    <small ng-message="minlength">The title should be longer than that!</small>
		    <small ng-message="maxlength">Max 60 character long title.</small>
		 </div>
    </div>
	</span>
    <br><br>

    <label>Max partipants</label>
	<span>
		<input name="nr_participants" placeholder="Number of participants" type="number"  ng-class="{error: ((groupForm.nr_participants.$dirty && !groupForm.nr_participants.$focused) || submitted) && groupForm.nr_participants.$invalid }"
		ng-model="group.nr_participants"
		ng-min="0"
		ng-max="{{max}}"
		ng-focus/>
	<div class="error-container" ng-show="(groupForm.nr_participants.$dirty && !groupForm.nr_participants.$focused || submitted) && groupForm.nr_participants.$invalid ">
	     	<div ng-messages="groupForm.nr_participants.$error">
		    <small ng-message="min">At least 0 participants</small>
		    <small ng-message="max">Wow, your dinner table can seat a lot of people! Reduce the number of participants.</small>
		</div>
    </div>
	</span>
    <br><br>


    <label>When</label>
	<span>
		<input name="startDate" placeholder="Specify when if this is an event" type="date"  ng-class="{error: ((groupForm.startDate.$dirty && !groupForm.startDate.$focused) || submitted) && groupForm.startDate.$invalid }"
		ng-model="group.startDate"
		ng-min="today"
		ng-focus/>
	<div class="error-container" ng-show="(groupForm.startDate.$dirty && !groupForm.startDate.$focused || submitted) && groupForm.startDate.$invalid ">
	     	<div ng-messages="groupForm.startDate.$error">
		    <small ng-message="min">A event can't happen in the past. There are no such things as time travel.</small>
		</div>
    </div>
	</span>
    <br><br>


    <label> Description *</label>
	<span>
		<textarea name="description" placeholder="Describe what this group is about" ng-class="{error: ((groupForm.description.$dirty && !groupForm.description.$focused) || submitted) && groupForm.description.$invalid }"
		ng-model="group.description"
		required
		ng-minlength="20"
		ng-maxlength="3000"
		ng-focus></textarea>
	<div class="error-container" ng-show="(groupForm.description.$dirty && !groupForm.description.$focused || submitted) && groupForm.description.$invalid ">
	   <div ng-messages="groupForm.description.$error">
		    <small ng-message="required">A description is nequired</small>
		    <small ng-message="minlength">The description should be longer than that!</small>
		    <small ng-message="maxlength">Don't pour your hearts out! Keep it shorter.</small>
		 </div>
    </div>
	</span>
    <br><br>
	<button class="btn--positive" type="submit" ng-click="submitted=true">Create group</button>
</form>
</div>